@using LineConstruction.Core.Entities
@model Vacancy
<style>
    
    .page-title {
        background: url(/assets/img/page-title-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 160px 0 60px 0;
        text-align: center;
        position: relative;
    }

        .page-title:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            inset: 0;
        }
</style>
<main>
<div class="page-title">
    <div class="container position-relative">
            <h1 style="color: white">Vacancy</h1>
        <nav class="breadcrumbs">
            <ol>
                    <li><a asp-controller="Vacancy" asp-action="Index">Home</a></li>
                <li style="color: white" class="current">Vacancy</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container mt-4 mb-4">
	<div style="border: 1px solid black ; border-radius : 20px;padding: 50px;" class="card">

		<h4>Ümumi məlumat</h4>
		<h5>Line Construction MMC "@Model.Title" vakansiyası üzrə işə qəbul elan edir!</h5>
		<h5>
			Vakansiya ilə bağlı müraciət etmək istəyənlər " @Model.Title" adını mövzu hissəsində qeyd etməklə CV formalarını   Career@LineConstruction.az elektron poçt ünvanına göndərə bilərlər.
		</h5>
		<br />
		<br />
		<h4>Öhdəliklər</h4>
		<h5>@Model.Obligation</h5>
		<br />
		<br />
		<h4>Tələblər</h4>
		<h5>@Model.Requirments</h5>
		<br />
		<br />
		<h4>Son müraciət tarixi</h4>
		<h5>@Model.Deadline</h5>
	</div>
</div>
</main>