@using LineConstruction.Core.Entities
@model ICollection<OurTeam>


<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Services Table</h1>


	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">

				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>#</th>
							<th>FullName</th>
							<th>Title</th>
							<th>ImagePath</th>
							<th>Service</th>
							<th>IsDeleted</th>
							<th>ExperienceYear</th>

							<th>SoftDelete</th>
							<th>Details</th>
							<th>Restore</th>

						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>#</th>
							<th>FullName</th>
							<th>Title</th>
							<th>ImagePath</th>
							<th>Service</th>
							<th>IsDeleted</th>
							<th>ExperienceYear</th>

							<th>SoftDelete</th>
							<th>Details</th>
							<th>Restore</th>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var item in Model)
						{

							<tr>
								<td>@item.Id</td>
								<td>@item.FullName</td>
								<td>@item.Title</td>
								<td>@item.ImagePath</td>
								<td>@item.OurService.Title</td>
								<td>@item.IsDeleted</td>
								<td>@item.ExperienceYear</td>
								<td><a asp-area="Admin" asp-controller="Team" asp-action="SoftDelete" asp-route-id="@item.Id" class="btn btn-danger">SoftDelete</a></td>
								<td><a asp-area="Admin" asp-controller="Team" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info">Details</a></td>
								<td><a asp-area="Admin" asp-controller="Team" asp-action="Restore" asp-route-id="@item.Id" class="btn btn-success">Restore</a></td>

							</tr>

						}

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->
