@using LineConstruction.Core.Entities
@model ICollection<AddedCV>

<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">Services Table</h1>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>CVPath</th>
							<th>IsDeleted</th>
							<th>Download</th>
							<th>Restore</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.Vacancy.Title</td>
								<td>@item.CvPath</td>
								<td>@item.IsDeleted</td>
								<td>
									@if (!string.IsNullOrEmpty(item.CvPath))
									{
										<a asp-action="Download" asp-controller="CV" asp-route-fileName="@item.CvPath" class="btn btn-primary">
											Download
										</a>
									}
									else
									{
										<span class="text-muted">No File</span>
									}
								</td>
								<td>
									<a asp-area="Admin" asp-controller="CV" asp-action="Restore" asp-route-id="@item.Id" class="btn btn-success">Restore</a>
								</td>
								 
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
